<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project_madd">

    <uses-permission android:name="android.permission.SET_ALARM"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".settings_goals" />
        <activity android:name=".Dashboard_Male" />
        <activity android:name=".amount_coffee" />
        <activity android:name=".select_drink" />
        <activity android:name=".amount_juice" />
        <activity android:name=".amount_tea" />
        <activity android:name=".amount_milk" />
        <activity android:name=".amount_selection" />
        <activity android:name=".Flavored_Water" />
        <activity android:name=".Settings" />
        <activity android:name=".tips_and_more" />
        <activity android:name=".viewMyWater" />
        <activity android:name=".water_calculation" />
        <activity android:name=".Water_home" />
        <activity android:name=".MenstrualHome" />
        <activity android:name=".DashBoard" />
        <activity android:name=".CommonAttributesActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".ReminderWater"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>