<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project_madd">

    <uses-permission android:name="android.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Settings_Home_Common" />
        <activity android:name=".change_weight"
            android:parentActivityName=".Settings"
            />
        <activity android:name=".settings_goals"
            android:parentActivityName=".Settings"
            />
        <activity android:name=".Dashboard_Male"
            android:parentActivityName=".CommonAttributesActivity"
            />
        <activity android:name=".amount_coffee"
            android:parentActivityName=".select_drink"
            />
        <activity android:name=".select_drink"
            android:parentActivityName=".viewMyWater"
            />
        <activity android:name=".amount_juice"
            android:parentActivityName=".select_drink"
            />
        <activity android:name=".amount_tea"
            android:parentActivityName=".select_drink"
            />
        <activity android:name=".amount_milk"
            android:parentActivityName=".select_drink"
            />
        <activity android:name=".amount_selection"
            android:parentActivityName=".select_drink"
            />
        <activity android:name=".Flavored_Water"
            android:parentActivityName=".tips_and_more"
            />
        <activity android:name=".Settings"
            android:parentActivityName=".Settings_Home_Common"
            />
        <activity android:name=".tips_and_more"
            android:parentActivityName=".select_drink"
            />
        <activity android:name=".viewMyWater"
            android:parentActivityName=".water_calculation"
            />
        <activity android:name=".water_calculation"
            android:parentActivityName="Water_home"
            />
        <activity android:name=".Water_home"
            android:parentActivityName=".DashBoard"
            />
        <activity android:name=".MenstrualHome" />
        <activity android:name=".DashBoard"
            android:parentActivityName=".CommonAttributesActivity"
            />
        <activity android:name=".CommonAttributesActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".ReminderWater" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>